<div class="container">
  <div class="card bg-dark text-white m-3 mt-5">
    <h5 class="card-header text-center">
      Signup Form
    </h5>

    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-6">
            <label>First Name</label>
            <input formControlName="firstName" type="text"
                   [ngClass]="{ 'is-invalid' : submitted && form.firstName.errors }"
                   class="form-control">

            <div class="text-warning" *ngIf="submitted && form.firstName.errors">
              <div *ngIf="form.firstName.errors.required">
                First Name is required.
              </div>
              <div *ngIf="form.firstName.errors.minlength">
                First Name is must be 3 character long.
              </div>
            </div>

        </div>
        <div class="form-group col-6">
          <label>Last Name</label>
          <input formControlName="lastName"
                 [ngClass]="{ 'is-invalid' : submitted && form.lastName.errors }"
                 type="text" class="form-control">

          <div class="text-warning" *ngIf="submitted && form.lastName.errors">
            <div *ngIf="form.lastName.errors.required">
              Last Name is required.
            </div>
          </div>

        </div>

        <div class="form-group col-12">
          <label>Email</label>
          <input formControlName="email"
                 [ngClass]="{ 'is-invalid' : submitted && form.email.errors }"
                 type="text" class="form-control">

          <div class="text-warning" *ngIf="submitted && form.email.errors">
            <div *ngIf="form.email.errors.required">
              Email is required.
            </div>

            <div *ngIf="form.email.errors.email">
              Email must be a valid email address.
            </div>
          </div>


        </div>

        <div class="form-group col-6">
          <label>Password</label>
          <input formControlName="password"
                 [ngClass]="{ 'is-invalid' : submitted && form.password.errors }"
                 type="text" class="form-control">

          <div class="text-warning" *ngIf="submitted && form.password.errors">
            <div *ngIf="form.password.errors.required">
              Password is required.
            </div>

            <div *ngIf="form.password.errors.minlength">
              Password must be 6 character long .
            </div>
          </div>

        </div>

        <div class="form-group col-6">
          <label>Confirm Password</label>
          <input formControlName="confirmPassword"
                 [ngClass]="{ 'is-invalid' : submitted && form.confirmPassword.errors }"
                 type="text" class="form-control">

          <div class="text-warning" *ngIf="submitted && form.confirmPassword.errors">
            <div *ngIf="form.confirmPassword.errors.required">
              Confirm Password is required.
            </div>

            <div *ngIf="form.confirmPassword.errors.mustmatch">
              Password not matched .
            </div>



          </div>

        </div>


        <div class="text-center">
          <button class="btn btn-success mr-3">Register</button>
          <button class="btn btn-warning" (click)="onReset()" >Reset</button>

          <p class="text-white"> {{ this.registerForm.value | json }} </p>
        </div>


      </div>
      </form>

    </div>

  </div>
</div>
